<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM0EmkB7rWzhglzcvS7oZj6m3Uu9fki-o</string>
	<key>GCM_SENDER_ID</key>
	<string>367857013527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagraam</string>
	<key>PROJECT_ID</key>
	<string>instaagram-d10ea</string>
	<key>STORAGE_BUCKET</key>
	<string>instaagram-d10ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367857013527:ios:1ca72637db568248fedd52</string>
</dict>
</plist>